# python cache
__pycache__/
*.pyc

# virtual env
.venv/
venv/

# pytest
.pytest_cache/

# ruff
.ruff_cache/

# mypy
.mypy_cache/

# macOS
.DS_Store

# IDE
.vscode/

# env
.env
*/.env

# logs
*.log
logs/

# poetry
.poetry/